@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-text-color: #000;
  --main-point-color: #FF6447;
  --main-text-size: 5vw;
  --desc-text-size: 3.7vw;
  --desc-text-color: #E5E1E1;
  --swier-item-pad: 16px;
}

html.lenis {height: auto}
.lenis.lenis-smooth {scroll-behavior: auto}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Pretendard Variable", 'Pretendard', Arial, 'Malgun Gothic', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 500vh;
}

[data-effect] {opacity:0; transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0s; transform-style:preserve-3d; will-change: transform, opacity, filter}
[data-split-txt] {font-size:0; color:transparent}
[data-split-effect] {position: relative;}
[data-split-effect] .monthly__mask {position: absolute; left:0; right:0; top:0; bottom:0; display:flex}
[data-split-effect] .monthly__mask .fade {background-color: #f0ece4; opacity:1}
[data-split-effect] .monthly__mask .curtain {background-color: #f0ece4; opacity:1}
[data-split-effect] .monthly__mask .curtain.show-in {opacity:1  !important; transform: rotateY(180deg) !important; backface-visibility:hidden;} 
[data-split-effect] .monthly__mask .cross {background-color: #f0ece4; opacity: 1 !important; height: 100%;}
[data-split-effect] .monthly__mask .cross.show-in {opacity:0; height: 0 !important; backface-visibility:hidden;}
[data-split-effect] .monthly__mask .cross.fade.show-in {opacity: 0 !important;}
[data-split-effect="cross"] .monthly__mask {align-items: flex-end}
[data-split-effect="cross alternate"] .monthly__mask span:nth-child(even) {align-self: flex-end}
[data-split-effect] .monthly__mask .show-in {opacity:0}

/* 아래에서 위로 페이드 인 */
.slide-up {transform: translate(0, 100px);}
/* 위에서 아래로 페이드 인 */
.slide-down {transform: translate(0, -100px);}
/* 왼쪽에서 오른쪽으로 */
.slide-right {transform: translate(-100px, 0);}
/* 오른쪽에서 왼쪽으로 */
.slide-left {transform: translate(100px, 0);}
/* 작아진 상태에서 커지면서 */
.scale-up {transform: scale(1.2);}
/* 커진 상태에서 작아지면서 */
.scale-down {transform: scale(.8);}
.scale-move {transform: translate3d(-10%, -10%, 0) scale3d(1.2, 1.2, 1) !important}
.clip-down {height:100%}

.show-in {opacity:1; transform:none !important;}
.show-in [class*="slide"], .show-in [class*="scale"] {opacity:1; transform:none;}
.show-in.text-blur {animation: text-blur 1.6s cubic-bezier(.3,0,.1,1) .5s alternate both;}

/* 공통 (s) */
.app__mask {position: static; display:inline-block; opacity:1; overflow: hidden;}

.app__main-message {position:relative; width:50%; padding:50px 35px; color:#1e1e1e}
.app__main-message .app__message-tit {line-height: 1.2; font-weight: 800}
.app__main-message .app__message-desc {color: var(--desc-text-color); font-weight: 800}

.app__scroll-section {position:relative; width:100%; padding:0 20px; min-height:100vh;}
.app__sticky-elem {position: fixed;	left: 0; width: 100%;}
.app__scroll-section.active .app__sticky-elem {display:block; will-change:transform, opacity;}
.app__scroll-section.active ~ .app__scroll-section .app__sticky-elem {display: none}
/* 공통 (e) */

.txt-point {color: var(--main-point-color);}

#scroll-section-0 {max-width:100%; padding:80vh 0 0}
#scroll-section-0 .app__main-message {position:fixed; left: 7vw; top: 50%; z-index: 10; width: max-content; transform: translateY(-50%); padding: 0; text-align:center;}
#scroll-section-0 .app__message-tit {text-align: left;}
#scroll-section-0 .app__cover-sticky {position: relative; display:flex; justify-content: center; align-items: flex-start; height: 150vh;}
#scroll-section-0 .app__cover-img {position: sticky; top: 0; width: 70%; height: 80vh; border-radius: 5vw; overflow: hidden; background-image: url(../public/images/img_top_visual.jpg); background-size: cover;}
#scroll-section-0 .app__cover-img img {width:100%; height:100%; object-position:top; object-fit:cover; border-radius: 0;}

#scroll-section-1 {position: relative; z-index: 20; max-width:100%; padding:15vw 0 0; background-color: #fff; box-sizing: initial;}
#scroll-section-1 .app__main-message {width: auto;}


.line-wave {
  position: fixed;
  width: 200%;
  height: 50vh;
  left: 0;
  top: 0;
  overflow: visible;
  pointer-events: none;
  z-index: 10;
  
  --move-period: 30s;
  --scale-period: 25s;
  
  --color-one: hsla(60, 80%, 50%, 0.3);
  --color-two: hsla(170, 100%, 50%, 0.3);
  --color-three: hsla(290, 100%, 50%, 0.3);
}

.line-wave path {
  transform-origin: center;
  stroke-width: 2;
  fill: transparent;
}

.line-wave g:nth-child(1) {
  animation: move-across var(--move-period) infinite linear;
}
.line-wave g:nth-child(2) {
  animation: move-across calc(var(--move-period) * 1.2) calc(var(--move-period) * -0.33) infinite linear;
}
.line-wave g:nth-child(3) {
  animation: move-across calc(var(--move-period) * 1.4) calc(var(--move-period) * -0.66) infinite linear;
}
.line-wave g:nth-child(1) path {
  animation: scale-y calc(var(--scale-period)) calc(var(--scale-period) * -0.2) infinite ease;
  stroke: var(--color-one);
}
.line-wave g:nth-child(2) path {
  animation: scale-y calc(var(--scale-period) * 1.2) calc(var(--scale-period) * -0.53) infinite ease;
  stroke: var(--color-two);
}
.line-wave g:nth-child(3) path {
  animation: scale-y calc(var(--scale-period) * 1.1) calc(var(--scale-period) * -0.86) infinite ease;
  stroke: var(--color-three);
}

@keyframes scale-y {
  0% {
    transform: scaleY(30%);
  }

  50% {
    transform: scaleY(-30%);
  }

  100% {
    transform: scaleY(30%);
  }
}

@keyframes move-across {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.line-curved {
  position: absolute;
  left: 0;
  right: 0;
  top: 10vh;
  display: block;
  width: 100%;
  height: 300px;
  margin: 0;
}
  
.line-curved path {
  animation: line-wave 20s linear infinite alternate;
  transition: all 0.3s ease-in-out;
}

@keyframes line-wave {
  0% {
    d: path("M0,105c166-66,333,38,500-20c0-2,0-5,0-7C333,128,166,12,0,64 C0,77,0,91,0,105z");
  }
  50% {
    d: path("M0,65c166,24,333,36,500,29c0-3,0-7,0-10c-166-7-333-19-500-27 C0,59,0,62,0,65z");
  }
  100% {
    d: path("M0,75c166,85,333-53,500,32c0-12,0-25,0-37c-166-75-333,75-500,0 C0,72,0,73,0,75z");
  }
}

/* Swiper 가로형 (s) ********************************************/
.app__main-swiper {
  position: relative;
  flex: auto;
  /* width: 72vw; */
  height: auto !important;
  overflow: hidden;
  @apply flex-none;
}

.app__main-swiper .swiper {
  height: 100%;
  margin: 0 -20px 0;
  padding: 0 20px;
}

.app__main-swiper .swiper .swiper-button-prev {
  display: block;
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 20;
  transform: translate(20px, -50%);
  @apply flex justify-center items-center w-14 h-14 bg-slate-300 opacity-80;
}

.app__main-swiper .swiper .swiper-button-next {
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 20;
  transform: translate(-20px, -50%);
  @apply flex justify-center items-center w-14 h-14 bg-slate-300 opacity-80;
}

.app__main-swiper .swiper .swiper-button-prev.hover.fade-in,
.app__main-swiper .swiper .swiper-button-next.hover.fade-in {
  transform: translate(0, -200%);
}

.app__main-swiper .swiper-slide ~ .swiper-slide {
  /* margin-left: 20px; */
}

.app__main-swiper .swiper-button-control {
  margin-top: 0;
}

.app__main-swiper iframe {
  pointer-events: none;
}

.app__main-swiper .work-list {
  /* padding-top: 105.2%; */
  /* padding-top: calc(100% * 1.052); */
}

.app__main-swiper .work-list > ul {
  position: absolute;
  left: -8px;
  right: -8px;
  top: 0;
  display: flex;
  flex-flow: wrap;
  /*width:100%;*/
  /* height: 100%; */
  justify-content: flex-start;
  align-content: flex-start;
}

.app__main-swiper .work-list > ul.column {
  flex-flow: column wrap;
}

.app__main-swiper .work-list > ul > li:nth-child(odd) .work-img {
  max-height: 456px;
}

.app__main-swiper .work-list > ul > li:nth-child(even) .work-img {
  max-height: 608px;
}

.app__main-swiper .work-list > ul > li:nth-child(3n) {
  padding-right: 0;
}

.app__main-swiper .work-list > ul > li:nth-child(2n).mov {
  position: relative;
  height: calc(681*100% / 1290);
}

.app__main-swiper .work-list > ul > li:nth-child(odd).mov {
  position: relative;
  height: calc(529*100% / 1290);
}

.app__main-swiper .work-list > ul > li:nth-child(n+4) {
  align-self: end;
}

.app__main-swiper .work-list > ul > li:nth-child(odd) .work-img,
.app__main-swiper .work-list > ul > li:nth-child(odd) .videoPlayer,
.app__main-swiper .work-list > ul > li:nth-child(odd) .video {
  padding-top: 100%;
}

.app__main-swiper .work-list > ul > li:nth-child(even) .work-img,
.app__main-swiper .work-list > ul > li:nth-child(even) .videoPlayer,
.app__main-swiper .work-list > ul > li:nth-child(even) .video {
  padding-top: 133.3333333%;
}

.app__main-swiper .work-list > ul .work-item {
  display: flex;
  flex-direction: column;
  width: calc(33.333333333% - var(--swier-item-pad));
  padding: 0 8px 0 8px;
  box-sizing: initial;
  /*width:calc(456*100%/var(--areaWidth) - var(--pad)); flex:auto; padding-right:var(--pad); padding-bottom:40px;*/
}

.app__main-swiper .work-list > ul .work-item.mov > a {
  /*flex:auto*/
  height: 100%;
}

.app__main-swiper .work-list > ul .work-item.mov .videoPlayer,
.app__main-swiper .work-list > ul .work-item.mov .video {
  position: relative;
  height: auto;
  /*height:calc(100% - 73px); max-height:608px*/
}

.app__main-swiper .work-list > ul .work-item.mov .videoPlayer video,
.app__main-swiper .work-list > ul .work-item.mov .video .youtube {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
  max-height: 608px;
  overflow: hidden;
}

.app__main-swiper .work-list > ul .work-img {
  position: relative;
  display: block;
  width: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.app__main-swiper .work-list > ul .work-img[data-slide-height] {width:100%; height:0}
.app__main-swiper .work-list > ul .work-img[data-slide-width] {width:0;}

.app__main-swiper .work-list > ul .work-img img {
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #eee;
  /* width: auto;
  min-width: 100%;
  height: 100%; */
}

.app__main-swiper .work-list > ul .work-desc {
  flex: none;
  width: 100%;
  height: 82px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  box-sizing: initial;
}

.app__main-swiper .work-list > ul .work-desc .tit {
  /* height: 21px; */
  overflow: hidden;
  font-weight: bold;
}

.app__main-swiper .work-list > ul .work-desc .desc {
  /* height: 42px; */
  overflow: hidden;
  word-wrap: break-word;
  font-weight: normal;
}

@media only all and (max-width:1440px) {
  /* .app__main-swiper .work-list {padding-top:100%} */
}

.more-list > ul .work-item {
  @apply flex flex-col
}

.more-list > ul .work-img {
  border: 1px solid #eee;
}

.more-list > ul .work-desc {
  flex: none;
  width: 100%;
  height: 82px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  box-sizing: initial;
}

.more-list > ul .work-desc .tit {
  /* height: 21px; */
  overflow: hidden;
  font-weight: bold;
}

.more-list > ul .work-desc .desc {
  /* height: 42px; */
  overflow: hidden;
  word-wrap: break-word;
  font-weight: normal;
}
/* Swiper 가로형 (e) ********************************************/

/* swiper 공통 (s) *****************************************************/

/*swiper default */

.swiper {
  position: relative;
  z-index: 1;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* a11y */

.swiper .swiper-notification {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-fade .swiper-slide-active {
  z-index: 2;
}

/* #185017 추가 */

.swiper-button-next,
.swiper-button-prev {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next.hide,
.swiper-button-prev.hide {
  display: none !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  /*pointer-events:none*/
}

.swiper-button-next.swiper-button-hidden,
.swiper-button-prev.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-navigation-disabled .swiper-button-next,
.swiper-navigation-disabled .swiper-button-prev {
  display: none!important;
}

.swiper > .swiper-button-prev.hover {
  display: none;
  opacity: 0;
  transform: translate(20px, -50%);
  transition: all .2s ease-out;
  z-index: 50;
  width: 64px;
  height: 64px;
  border-radius: 12px;
  /* background: rgba(0,0,0,.4) url("./images/chevron-left-44-white.svg") no-repeat center/44px auto; */
}

.swiper > .swiper-button-next.hover {
  display: none;
  opacity: 0;
  transform: translate(-20px, -50%);
  transition: all .2s ease-out;
  z-index: 50;
  width: 64px;
  height: 64px;
  border-radius: 12px;
  /* background: rgba(0,0,0,.4) url("./images/chevron-right-44-white.svg") no-repeat center/44px auto; */
}

.swiper-button-next:after, .swiper-button-prev:after {display:none}


.swiper > .swiper-button-prev.hover.show-in,
.swiper > .swiper-button-next.hover.show-in {
  display: block;
}

.swiper > .swiper-button-prev.hover.fade-in,
.swiper > .swiper-button-next.hover.fade-in {
  opacity: 1;
  transform: translate(0, -50%);
}

.swiper > .swiper-button-prev.hover.swiper-button-disabled.fade-in,
.swiper > .swiper-button-next.swiper-button-disabled.fade-in {
  opacity: .35;
}

.swiper-button-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  box-sizing: border-box;
}

.swiper-button-control.hide {
  display: none !important;
}

.swiper-button-control .swiper-button-prev {
  position: static;
  width: 16px;
  height: 16px;
  transform: translateY(0);
  /* background: url("./images/chevron-left-16.svg") no-repeat center/16px auto; */
}

.swiper-button-control .swiper-button-next {
  position: static;
  width: 16px;
  height: 16px;
  transform: translateY(0);
  /* background: url("./images/chevron-right-16.svg") no-repeat center/16px auto; */
  transform: translateY(0);
}

.app__main-swiper .swiper-pagination {
  @apply -bottom-6
}

/* swiper 공통 (e) *****************************************************/
